$card-width:18rem;

.recipes-list-wrapper{
    display: flex;
    gap: 50px;
}
.card{
    width: auto;
    max-width: $card-width;
    height: auto;
    cursor: pointer;
}

@media only screen and (min-width: 300px) and (max-width: 1024px)  {
    .recipes-list-wrapper{
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }
  }
