<div class="task-wrapper">
    <h2>All tasks</h2>
    <ul class="list-group task-all-list">
        <li class="list-group-item" *ngFor="let task of tasks" (click)="handleChangeCheckbox(task)">
            <p> <input type="checkbox" [checked]="task.completed" (change)="handleChangeCheckbox(task)"> {{task.title}}</p>
            <p><small>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</small></p>
        </li>
    </ul>
    
    <h2>Completed tasks</h2>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let task of completedTasks">
            <p>{{task.title}}</p>
            <p><small>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</small></p>
        </li>
    </ul>
    
    <h2>Incompleted tasks</h2>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let task of IncompletedTasks">
            <p>{{task.title}}</p>
            <p><small>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</small></p>
        </li>
    </ul>

</div>