$tab-text-color: #1C1D1F;
$tab-hover-bg-color: #c9c8c8;
$selected-tab-color: #f0f0f0;
.task-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .nav-link {
        color: $tab-text-color;
        font-size: 1.4rem;
        font-weight: 500;
        text-decoration: none;
        margin: 0 1rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        transition: all 0.3s;
        cursor: pointer;
        margin-bottom: 30px;
        &:hover {
            background-color: $tab-hover-bg-color;
        }
        &.selectedTab {
            background-color: $selected-tab-color
        }
    }
    .list-group {
        .list-group-item {
            cursor: pointer;
        }
    }

}