.user-list{
    width: auto;
    min-width: 20%;
    li{
        cursor: pointer;
        color: rgb(80, 79, 79);
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.7rem;
    }
}