.card{
    width: 45%;
    min-width: 500px;
    border: 1px solid #9edb8f;
    height: 200px;
    border-radius: 20px;
    .head{
        text-align: center;
        padding: 15px 0;
        border-bottom: 1px solid #9edb8f;
        color: antiquewhite;
    }
}