.form-wrapper {
    .alert{
        display: flex;
        justify-content: space-between;
    }
    form {
        display: flex;
        flex-direction: column;
        .custom mat-label {
            color: #1976d2;
        }
        .base-btn {
            width: 110px;
        }
    }
}

