<shared-module-title title="JWT authentication with dummy data and API" />
<div *ngIf="isLogged; else loginTemplate">
    <p>
        Auth content
        <button *ngIf="!responsedMe" class="base-btn" (click)="handleClickOnMeButton()">Me</button>
    </p>

    <ul *ngIf="responsedMe">
        <li>Name: {{userByJWT.lastName}} {{userByJWT.firstName}}</li>
        <li>E-mail: {{userByJWT.email}}</li>
    </ul>
</div>
<ng-template #loginTemplate>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p></p>
                <auth-login (setLogged)="handleSetIsLogged($event)" />
            </div>
        </div>
    </div>
</ng-template>