<div class="container main" [ngClass]="{'dark':!lightMode}">
    <div class="row lightblue">
        <p>It's a sample webapp to show my code</p>
        <p>Work with Angular</p>
        <p>It's normally show in big monitor,because the invoice list table and paginator is wide</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="single-todo" [ngClass]="{'completed':singleTodo?.completed}">{{singleTodo?.title}}</p>
            <mat-slide-toggle [(ngModel)]="isChecked" (change)="handleSliderChange(singleTodo)" />
            <button mat-flat-button (click)="handleClickOnButton(singleTodo)">{{buttonText}}</button>
        </div>
        <div class="col-md-6">
            <mat-slide-toggle [(ngModel)]="lightMode" (change)="handleClickOnModeChangeButton()" />
            <span class="mode-text">{{modeText}}</span>
        </div>
        <button mat-flat-button  (click)="makeMeAdmin(true)">Make me admin</button>
        <button mat-flat-button class="danger-btn" (click)="makeMeAdmin(false)">Make me normal user</button>
    </div>