$row-base-bg: #33aa92;
$row-base-bg-dark: #232525;

.container {
    &.main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        height: 100%;
    }
    .row {
        background-color: $row-base-bg;
        .single-todo {
            color: #726262;
            font-size: 1.5rem;
            &.completed {
                text-decoration: line-through;
            }
        }
        .mode-text {
            color: #726262;
        }
        button{
            background-color: #44608f;
            color: white;
            border: none;
            padding: 5px 10px;
            margin: 5px;
            cursor: pointer;
           
        }
        &.lightblue {
            background-color: lightblue;
            color: #726262;
        }
    }
}

.container.dark{
    .row{
        background-color: $row-base-bg-dark;
        .single-todo{
            color: #ffffff;
           
        }
        .mode-text{
            color: #ffffff;
        }
        button{
            background-color: rgb(23, 36, 65);
        }
        &.lightblue{
            background-color: lightblue;
            color: #726262;
        }
    }
}
