<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a (click)="handleClickOnPrevPage()" class="page-link" [ngClass]="{'inactive': disablePrev }" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li *ngFor="let page of pages; let i=index" (click)="handleClickOnPageNumber(i+1)"
            [ngClass]="{'active':pageNum===i+1}" class="page-item">
            <a class="page-link">{{i+1}}</a>
        </li>

        <li class="page-item">
            <a (click)="handleClickOnNextPage()" class="page-link" [ngClass]="{'inactive': disableNext }" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>