<button class="base-btn" routerLink="/users">Back to user list</button>
<div *ngIf="selectedUser!=undefined" class="single-user-card">
    <div class="card" >
        <div class="card-body">
            <div class="image-wrapper">
                <img src="/assets/people.png" alt="" >
            </div>
            <h5 class="card-title">{{selectedUser.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{selectedUser.username}}</h6>
            <p class="card-text">E-mail: {{selectedUser.email}}</p>
            <p class="card-text">Phone: {{selectedUser.phone}}</p>
            <p class="card-text post-list-title">Their posts:</p>
            <ul class="list-group post-list">
                <li 
                    *ngFor="let post of userPosts" 
                    routerLink="/single-post" 
                    [queryParams]="{id:post.id}"
                    class="list-group-item"
                >{{post.title}}</li>
            </ul>
        </div>
    </div>
</div>