%post-style{
    font-size: 18px;
    color: #252424;
    line-height: 28px;
    font-weight: 400;
    cursor: pointer;
}
.post-list-wrapper{
    list-style-type: none;
    li{
        @extend %post-style;
        .post-writer{
            font-weight: 600;
            text-decoration: underline;
        }
    }
}