<button class="base-btn " [ngClass]="{'disabled':countSelectedInvoices()===0}">Download selected ( {{countSelectedInvoices()}})</button>
<table class="table table-striped">
	<thead>
		<tr>
			<th><input type="checkbox" (change)="handleCheckAll()" [checked]="allChecked"></th>
			<th >#</th>
			<th >Title</th>
			<th >Paid</th>
			<th >User ID</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let invoice of invoices; let i = index">
			<td><input type="checkbox" [checked]="allChecked" (change)="handleChangeCheckboxOnInvoice(invoice)"></td>
			<td>{{invoice.id}}</td>
			<td>{{invoice.title}}</td>
			<td>{{(invoice.completed)?"paided":"not paided"}}</td>
			<td>{{invoice.userId}}</td>
			<td class="download-text" (click)="handleDownloadInvoice(invoice)">Download</td>
		</tr>
	</tbody>
</table>
