<div class="chart-card-wrapper">
    <div class="chart-card double">
        <header>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </header>
        <main>
            <statistics-linear-chart />
        </main>
    </div>
    <div class="chart-card">
        <header>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </header>
        <main>
            <statistics-bar-chart />
        </main>
    </div>
    <div class="chart-card">
        <header>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </header>
        <main>
            <statistics-sankey-chart />
        </main>
    </div>
    <div class="chart-card double">
        <header>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </header>
        <main>
            <statistics-spiderweb-chart />
        </main>
    </div>
</div>
