<div class="chart-card-wrapper">
    <div class="chart-card double">
        <header routerLink="/statistics/line-chart">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </header>
        <main>
            <statistics-linear-chart [preview]="true"/>
        </main>
    </div>
    <div class="chart-card">
        <header routerLink="/statistics/bar-chart">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </header>
        <main>
            <statistics-bar-chart [preview]="true" />
        </main>
    </div>
    <div class="chart-card">
        <header routerLink="/statistics/sankey-chart">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </header>
        <main>
            <statistics-sankey-chart [preview]="true" />
        </main>
    </div>
    <div class="chart-card double">
        <header routerLink="/statistics/spiderweb-chart">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </header>
        <main>
            <statistics-spiderweb-chart [preview]="true" />
        </main>
    </div>
</div>
