ul.nav{
    list-style-type: none;
    font-size: 20px;
    flex-direction: column !important;
    position: fixed;
    li{
        margin-bottom: 20px;
        cursor: pointer;
        &:hover{
            color: #f00;
        }
        &.active-nav-item{
            text-decoration: underline;
            font-weight: 600;
        }
    }
}