ul.nav{
    list-style-type: none;
    font-size: 20px;
    flex-direction: column !important;
    position: fixed;
    li{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        cursor: pointer;
        &:hover{
            color: #f00;
        }
        &.active-nav-item{
            text-decoration: underline;
            font-weight: 600;
        }
        .nav-icon{
            color: rgb(29, 31, 34);
            margin-right: 20px;
        }
    }
}