main{
    display: flex;
    flex-direction: row;
    min-height: 600px;
    aside{
        background-color: aqua;
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 40px;
    }
    #main-content{
        padding: 15px;
        background-color: blueviolet;
        flex: 5;
    }
}
